<div class="general-container">
  <%= render "users/user_class", user: @user %>
  <div class="bio-card">
    <%= @user.bio %>
  </div> 

  <div class="align-center">
    <% @user.recent_posts.each do |post| %>
      <%= render "posts/post_class", post: post %>
    <% end %>

    <button class="button">
      <%= link_to controller: "posts", action: "index", user_id: @user.id do %>
        See all posts 
      <% end %>
     </button>
  </div>
</div>